.App {}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sun-form {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .sun-form {
    flex-direction: column;
  }
}

.form-stepper {
  flex-grow: 1;
  max-width: 25%;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #c1c1c1;
}

.form-content {
  flex-grow: 3;
  max-width: 75%;
  padding: 5px 10px;
}

@media (max-width: 600px) {
  .sun-form {
    flex-direction: column;
  }

  .form-stepper {
    max-width: 100%;
  }

  .form-content {
    max-width: 100%;
  }
}

.player-header {
  padding: 5px 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.notice {
  font-style: italic;
  font-size: 0.8em;
}
